* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Pretendard';
	src: url('./assets/font/Pretendard-Bold.woff') format('woff');
	font-weight: 600;
}

/* 프리텐다드 */
@font-face {
	font-family: 'Pretendard';
	src: url('./assets/font/Pretendard-Bold.woff') format('woff');
	font-weight: 700;
}

@font-face {
	font-family: 'Pretendard';
	src: url('./assets/font/Pretendard-SemiBold.woff') format('woff');
	font-weight: 600;
}

@font-face {
	font-family: 'Pretendard';
	src: url('./assets/font/Pretendard-Medium.woff') format('woff');
	font-weight: 500;
}

@font-face {
	font-family: 'Pretendard';
	src: url('./assets/font/Pretendard-Regular.woff') format('woff');
	font-weight: 400;
}

@font-face {
	font-family: 'Pretendard';
	src: url('./assets/font/Pretendard-Regular.woff') format('woff');
	font-weight: 300;
}
